<html xmlns:th="https://www.thymeleaf.org">
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/uniquex/read">
			<table>
				<tr><td>select a text file with	student data:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>
	<form action="#" data-th-action="@{/sort}" data-th-object="${model}" method="post">
		<button type="submit" name="action" value="sort">bubblesort</button>
	</form>
	<form action="#" data-th-action="@{/sort}" data-th-object="${model}" method="post">
		<button type="submit" name="action" value="sort">heapsort</button>
	</form>
	<form action="#" data-th-action="@{/sort}" data-th-object="${model}" method="post">
		<button type="submit" name="action" value="sort">mergesort</button>
	</form>
	<form action="#" data-th-action="@{/reset}" data-th-object="${model}" method="post">
		<button type="submit" name="action" value="reset">reset</button>
	</form>


	<div>Students</div>
	<div>
		<ul>
			<li th:each="student : ${students}">
				<a th:href="${student}" th:text="${student.name}"/>
				<a />
				<a th:href="${student}" th:text="${student.rating}"/>
			</li>
		</ul>
	</div>
    <table>
			<tr>
				<th>Name</th>
				<br>
				<th>Score</th>
			</tr>
		<tr th:each="student : ${students}">
			<td th:text="${student.name}"></td>
			<br>
			<td th:text="${student.rating}"></td>
		</tr>
	</table>
	<form action="#" data-th-action="@{/students/sort?sortingAlgorithm=bubblesort&saveToFile=true}" data-th-object="${model}" method="post">
		<button type="submit" name="action" value="reset">Save to file</button>
	</form>

	<h1>Files of sorted students</h1>

	<div>
		<ul>
			<li th:each="sortedstudentsfile : ${sortedstudentfiles}">
				<a th:href="${sortedstudentsfile}" th:text="${sortedstudentsfile}" />
			</li>
		</ul>
	</div>

</body>
</html>